//
// assets/css/layout/_body.scss

body {
    font-family: $fontRegular;
    font-weight: normal;
    line-height: 1.35;
    margin: 0px;
    padding: 0px;
    color: $white;
    cursor: none;
}

html, body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
