//
// assets/css/layout/_body.scss

body {
    font-family: $fontFamily;
    margin: 0px;
    padding: 0px;
    // background: $black;
    color: $white;
    cursor: none;
}

html, body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
