//
// assets/css/layout/_typography.scss

/**
 * Heading 1
 */
h1 {
    font-size: 3rem;
    line-height: 1.2;
}

/**
 * Heading 2
 */
h2 {
    font-size: 0.75em;
    position: relative;
    line-height: 1.2;
    padding: 12.5px 0px 20px;
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        top: 0px;
        left: 0px;
    }
    &._noLine {
        &::after {
            content: none;
        }
    }
}

/**
 * Heading 3
 */
h3 {
    line-height: 1.2;
}

/**
 * Heading 4
 */
h4 {}

/**
 * Heading 5
 */
h5 {}

/**
 * Heading 6
 */
h6 {}

/**
 * Text
 */
p {
    font-weight: normal;
}

.SEO {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    color: $white;
}
