//
// assets/css/layout/_typography.scss

/**
 * Heading 1
 */
h1 {
    font-size: 3rem;
    line-height: 1.2;
}

/**
 * Heading 2
 */
h2 {
    font-weight: normal;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 12.5px 0px 20px;
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        top: 0px;
        left: 0px;
    }
    &._noLine {
        &::after {
            content: none;
        }
    }
}

/**
 * Heading 3
 */
h3 {
    line-height: 1.2;
}

/**
 * Text
 */
p {
    font-weight: normal;
}

.SEO {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    color: $white;
}

.header-email {
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.intro-text {
    font-size: 1.2em;
    @include respond-to("tablet-portrait") {
        font-size: 2em;
    }
}

.emoji {
    font-size: 1.5em;
    @include respond-to("tablet-portrait") {
        font-size: 2.3em;
    }
}

.smaller-type {
    font-size: 0.5em;
}

.small-type {
    font-size: 0.6em;
    @include respond-to("desktop-medium") {
        font-size: 0.75em;
    }
}

.smaller-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.selected-work {
    .link {
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.05;
        @include respond-to("tablet-portrait") {
            font-size: 2.75em;
            line-height: 1.15;
            letter-spacing: 1px;
        }
    }
    .item {
        font-size: 0.75em;
        padding-bottom: 2px;
    }
    .separator {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 45px 0px 10px;
        font-size: 0.5em;
    }
}

.awards-list {
    font-weight: bold;
    .number, .item {
        font-size: 0.9em;
        @include respond-to("tablet-portrait") {
            font-size: 1.3em;
        }
    }
    .cross {
        font-size: 0.8em;
        @include respond-to("tablet-portrait") {
            font-size: 1.2em;
        }
    }
}

.press, .agency {
    ul {
        font-size: 0.8em;
        @include respond-to("tablet-portrait") {
            font-size: 1em;
        }
    }
}

.facts {
    .item {
        font-size: 0.8em;
    }
}

.favs {
    .category {
        font-size: 0.65em;
        font-weight: 700;
        display: block;
    }
    .item {
        font-size: 1em;
        display: inline-block;
        font-weight: 700;
        margin-bottom: 5px;
        @include respond-to("tablet-portrait") {
            font-size: 1.3em;
            margin-bottom: 10px;
        }
    }
}

.social-link {
    a {
        font-size: 1.25em;
        @include respond-to("tablet-portrait") {
            font-size: 2em;
        }
    }
    .dev {
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.5em;
    }
    p {
        width: 60%;
        font-size: 0.65em;
        font-weight: 700;
    }
}
