//
// assets/css/abstracts/_mixins.scss

@mixin importFont($fontname) {
    @font-face {
        font-family: $fontname;
        src: url('~/static/fonts/#{$fontname}.woff2') format('woff2'), url('~/static/fonts/#{$fontname}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin transform($transforms) {
    transform: $transforms;
}

@mixin borderRadius($border-radiuss) {
    -moz-border-radius: $border-radiuss;
    -o-border-radius: $border-radiuss;
    -ms-border-radius: $border-radiuss;
    -webkit-border-radius: $border-radiuss;
    border-radius: $border-radiuss;
}

@mixin centerX() {
    left: 50%;
    @include transform(translateX(-50%));
}

@mixin centerY() {
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin centerXY() {
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,
    -50%));
}

@mixin inputBorder() {
    border: 1px solid $light_grey;
}
