//
// assets/css/abstracts/_variables.scss

$fontLight: 'Ubuntu', 'Helvetica Neue',sans-serif;
$fontRegular: 'Ubuntu', 'Helvetica Neue',sans-serif;
$fontBold: 'Ubuntu', 'Helvetica Neue',sans-serif;


// Colors
$black: black;
$white: white;
$lightGrey: lightgrey;
$grey: rgba(255,255,255,0.75);
$darkGrey: rgba(255,255,255,0.1);
