//
// assets/css/abstracts/_variables.scss

$fontFamily: 'Helvetica Neue',sans-serif;

// Colors
$black: black;
$white: white;
$lightGrey: lightgrey;
$grey: rgba(255,255,255,0.75);
$darkGrey: rgba(255,255,255,0.1);
